<div class="col-md-7 col-md-push-5">
	<h2>
	  <strong>Name:</strong>
	  <%= @book.name %>
	</h2>
	<p>
		<strong>Description:</strong>
  		<%= @book.description %>
	</p>
</div>
<div class="col-md-5 col-md-pull-7">
	<%= image_tag "book.jpg", class: "img-circle",  width: "140", height: "140" %>
</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back to bookshelf', books_path %>